<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
</head>
<body>

<h1>Login</h1>

<form id="loginForm" method="POST"> <!-- method 속성을 "POST"로 변경 -->
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>

    <input type="submit" value="Submit">
</form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('loginForm');
        form.addEventListener('submit', async function(e) {
            e.preventDefault();

            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            const data = {
                email,
                password
            };

            try {
                const response = await fetch('http://localhost:8080/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });

                const result = await response.json();

                if (result.success) {
                    const token = response.headers.get('Authorization');
                    // 토큰을 로컬 스토리지에 저장하거나 세션에 유지하는 등의 처리 가능
                    alert("로그인에 성공했습니다!");
                } else {
                    alert("Error: " + result.error.message);
                }

            } catch (error) {
                console.error('Error:', error);
            }
        });
    });
</script>

</body>
</html>